<a href="#colonialOptionsCollapse" id="insertSelectLink-buckingham" class="thumbnail" title="Colonial - Buckingham" data-insert="buckingham" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
	<div class="insert-option colonial buckingham">
		{% include 'app-insert-colonial-buckingham' %}
	</div>
</a>

<p class="text-center text-muted">
	<a href="#colonialOptionsCollapse" id="buckingham" title="Colonial - Buckingham" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">Colonial <i class="icon icon-caret-down"></i></a>
</p>