<a href="#" id="insertSelectLink-pure-white" class="thumbnail" title="Painted Glass - Pure White" data-insert="pure-white">
	<div class="insert-option pure-white"></div>
</a>
<p class="text-center text-muted">Glass</p>