<div class="row">
    <div class="col-md-6">
        <p><a class="btn btn-default btn-sm" href="/collections/sliding-wardrobe-doors">Find Prices</a></p>
    </div>
    <div class="col-md-6">
        <p class="text-right"><a class="btn btn-primary btn-sm" href="/collections/sliding-wardrobe-doors">Order Now</a></p>
    </div>
</div>