/* --------------------------------------------------
Icons
-------------------------------------------------- */
.icon-dark {color:#333333;}
.icon-white {color: #ffffff;}
.icon-big {font-size: 150%;}
.icon-med {font-size:125%;}
.icon-small {font-size: 75%;}
.icon-red {color: #EF3D25;}
.icons-share{margin-top:12px;}
.icon-google-plus {margin-top:2px;}
.icon-google-share {margin-top:4px;}
.icon-footer-shopify {margin-top: 3px;margin-left:15px;}