<a href="#vinylOptionsCollapse" id="insertSelectLink-glacier" class="thumbnail" title="Glacier (white)" data-insert="glacier" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
	<div class="insert-option glacier"></div>
</a>

<p class="text-center text-muted">
	<a href="#vinylOptionsCollapse" id="glacier" title="Glacier (white)" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">Vinyl <i class="icon icon-caret-down"></i></a>
</p>