{% comment %}
<div class="alert alert-success">
	<p><span class="icon icon-tree"></span> For details of Christmas cut-off dates and our estimated delivery times over the Christmas period, please read our <a class="alert-link" href="/pages/delivery" title="Delivery Information">delivery information</a> page.</p>
</div>


<div class="alert alert-success">
	<p class="text-center text-big"><span class="icon icon-gift"></span> Spacemaker Wardrobes would like to wish you a safe and Merry Christmas.</p>
</div>


<div class="alert alert-info" role="alert">
	<p><strong><span class="icon icon-info-circle"></span> Important Notice:</strong> Due to employee annual leave, any orders placed between Wednesday, 16<sup>th</sup> September 2015 and Wednesday, 30<sup>th</sup> September 2015 will not be processed and delivered before Wednesday, 07<sup>th</sup> October 2015.</p>
</div>
{% endcomment %}