<ul>
  <li>Someone must be present to accept delivery of your order and sign proof of delivery (POD). Goods will not be left at an unattended address, and a re-delivery charge may be applicable;</li>
  <li>The driver will only deliver to the front door/access point of the premises;</li>
  <li>We only deliver to postal addresses in Australia that normally receive Australia Post mail;</li>
</ul>