<div class="row">
    <div class="col-md-4">
        <h5>GOLD COAST (ARUNDEL)</h5>
        <p>Mon to Fri 7am - 3.30pm</p>
    </div>
    <div class="col-md-4">
        <h5>BUNDABERG</h5>
        <p>Monday to Friday 7.30am till 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>EMERALD</h5>
        <p>Tues to Sat 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>QUILPIE</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>BOHLE</h5>
        <p>Mon to Fri 8.30am - 4.45pm</p>
    </div>
    <div class="col-md-4">
        <h5>GLADSTONE</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>ROCKHAMPTON</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>BUNDABERG</h5>
        <p>Monday to Friday 7.30am till 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>KUNDA PARK</h5>
        <p>Mon to Fri 9am - 3:30pm</p>
    </div>
    <div class="col-md-4">
        <h5>ROMA</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>CHARLEVILLE</h5>
        <p>Mon to Fri 8am - 5pm, Sat and Sun 8am - 11am</p>
    </div>
    <div class="col-md-4">
        <h5>MARYBOROUGH</h5>
        <p>Mon to Fri 7am - 2pm</p>
    </div>
    <div class="col-md-4">
        <h5>STANTHORPE</h5>
        <p>Mon to Fri 8am till 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>DALBY</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>MOUNT ISA</h5>
        <p>Mon to Fri 9am - 12pm</p>
    </div>
    <div class="col-md-4">
        <h5>TOOWOOMBA</h5>
        <p>Mon to Fri 6am - 4.30pm</p>
    </div>
    <div class="col-md-4">
        <h5>EDMONTON</h5>
        <p>Mon to Thur 8am - 4pm, Fri closes 3pm</p>
    </div>
    <div class="col-md-4">
        <h5>PAGET</h5>
        <p>Mon to Fri 8am to 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>WARWICK</h5>
        <p>Mon to Fri 8am - 4pm</p>
    </div>
</div>