<div class="row">
    <div class="col-md-4">
        <h5>GLENORCHY</h5>
        <p>Mon to Fri 8am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>NEWSTEAD</h5>
        <p>Important: Must call 0417 306 664 to arrange pickup time.</p>
    </div>
    <div class="col-md-4">
        <h5>ULVERSTONE</h5>
        <p>Mon to Fri 7am - 4pm</p>
    </div>
</div>