<p>If an item is discovered to be damaged on arrival, please take the following steps immediately:</p>
<ol>
	<li>Photograph the damaged item, including the damage to the packaging materials</li>
	<li>Complete the <a href="/pages/delivery-claim-form">delivery claim form</a></li>
</ol>

<h4>Damaged in Transit Policy</h4>
<ol>
	<li>Any report of an item damaged in transit must be completed and submitted to Spacemaker Wardrobes for review within two calendar weeks of the customer receiving the order.</li>
	<li>Reports of damage must be accompanied by clear photographs of the damaged goods, including packaging.  Spacemaker Wardrobes reserves the right to request further photographs as necessary.</li>
	<li>Spacemaker Wardrobes will process the claim and communicate the result / resolution to the customer within two calendar weeks of all information for the claim being provided.</li>
</ol>