{% capture courier-link %}{{ 'BigPost' | link_to: 'http://www.bigpost.com.au','BigPost' }}{% endcapture %}

{% include 'global-delivery-message' %}

<h3>Manufacture &amp; Delivery Process</h3>
{% include 'global-delivery-manufacture-process' %}

<div class="alert alert-info" role="alert">
	<p><strong>How it works:</strong> Spacemaker Wardrobes offers delivery to depots located Australia wide. You will be able to choose the depot closest to you when placing your order. Once your order arrives at your nomiated depot, you will be able to pick it up.</p>
</div>

<h3>Manufacture Time</h3>
{% include 'global-delivery-manufacture-time' %}

<hr>

<div class="row">
	<div class="col-md-9">
		<h3>Delivery Time</h3>
		{% include 'global-delivery-courier-time' %}
	</div>
	<div class="col-md-3">
		{% assign courier-img-class = 'img-responsive center-block mt15p' %}
		{% assign courier-img-title = 'Spacemaker Wardrobes offer Australia Wide delivery through our courier partner BigPost' %}
		{% assign courier-img-alt = 'BigPost Platform' %}
		{% include 'global-courier-img' %}
	</div>
</div>

<hr>

<div class="alert alert-info" role="alert">
	<i class="icon icon-info-circle"></i>
	The total time for you to receive your order is the <b>manufacture time</b> + the <b>delivery time</b> and varies depending on your nearest depot.
</div>

<hr>

<h3>Delivery Costs</h3>
<ul>
	<li>To check the cost of delivery to your nearest depot, add products to your cart and then use the delivery quote calculator on your {{ 'cart' | link_to: '/cart','your cart' }} page.</li>
</ul>

<hr>

<h3>Picking Up Your Order</h3>
{% include 'global-delivery-puo' %}

<hr>

<h3>Packaging</h3>
{% include 'global-delivery-packaging' %}

<hr>

<h3>Depot Locations</h3>
<p>Our courier partner, {{ courier-link }}, have depot locations throughout Australia:</p>
{% include 'global-delivery-depot-locations' %}