<ul>
  <li>Your order will supplied <strong>packaged</strong> and delivered to your nearest depot.</li>
  <li>The box will be supplied undamaged from the factory and the courier will check this as it is loaded onto the truck. If the courier notice any damage on the packaging, they will not accept it as they may be held liable when it reaches the other end.</li>
</ul>

<div class="alert alert-warning" role="alert">
  <i class="icon icon-exclamation-circle"></i>
  When picking up your order from the depot, we recommend you check the box for any external damage. If you do notice any significant damage to your order, <b>do not pick it up</b> and <a href="/pages/contact" title="Contact Spacemaker Wardrobes">let us know</a> as soon as possible.
</div>


{% comment %}
ToDo:  Packaging - how should be packaged
{% endcomment %}
