<ul>
  <li>Your order will be packaged and delivered to your nearest depot where you will be responsible for picking it up.</li>
  <li>If you decide to unpack your order before loading it into your vehicle, we recommend that you take some sheets and blanckets to wrap around the products to ensure that there is no damage during transportation from the depot to your address.</li>
  <li>Please ensure that your vehicle is large enough to carry the products. If you are unsure, plesae call us on 1300 663 625.</li>
</ul>
