<div class="row">
    <div class="col-md-4">
        <h5>MITCHELL</h5>
        <p>Mon to Fri 8.30am - 4.00pm</p>
    </div>
    <div class="col-md-4">
        <h5>QUEANBEYAN</h5>
        <p>Mon to Fri 9am - 4pm</p>
    </div>
</div>