<div class="row">
    <div class="col-md-4">
        <h5>GILLMAN</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>NEWTON</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>WINGFIELD</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>NETLEY</h5>
        <p>Mon to Fri 8.15am - 3.45pm</p>
    </div>
    <div class="col-md-4">
        <h5>PARA HILLS</h5>
        <p>Mon to Fri 7.30am - 4.30pm</p>
    </div>
</div>