<p>Delivery timeframe: <span class="label label-info">varies depending on your location</span></p>

<ul>
  <li>The <i>delivery time</i> refers to the time it takes for the courier to deliver your order to your nearest depot.</li>
</ul>

<h4>Tracking your order</h4>

<ul>
  <li>Our delivery partner, {{ courier-link }}, will communicate with you throughout the entire delivery process. Your will receive <b>email</b> and <b>SMS</b> updates / notifications, including a link to track the progress of your order.</li>
  <li>Once your order arrives at your chosen depot, you will receive notification from {{ courier-link }} that your order is ready to be picked up.</li>
</ul>
