<div class="row">
    <div class="col-md-4">
        <h5>CROYDON</h5>
        <p>Mon to Fri 9am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>MANSFIELD</h5>
        <p>Mon to Fri 9am - 4:30pm</p>
    </div>
    <div class="col-md-4">
        <h5>WANGARATTA</h5>
        <p>Mon to Fri 9am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>DOVETON</h5>
        <p>Mon to Fri 8am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>SUNSHINE</h5>
        <p>Mon to Fri 9am - 4pm</p>
    </div>
</div>