<div class="row">
    <div class="col-md-4">
        <h5>COWRA</h5>
        <p>Mon to Fri 7am - 5:30pm - Sat 7am - 12pm</p>
    </div>
    <div class="col-md-4">
        <h5>MINCHINBURY</h5>
        <p>Mon to Fri 9am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>SMEATON GRANGE</h5>
        <p>Mon to Thur 7am - 3pm, Fri till midday</p>
    </div>
    <div class="col-md-4">
        <h5>GUNNEDAH</h5>
        <p>Mon to Fri 7:30am - 5:30pm</p>
    </div>
    <div class="col-md-4">
        <h5>MONA VALE</h5>
        <p>Mon to Fri 9am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>SMITHFIELD</h5>
        <p>Mon to Fri 9am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>MARRICKVILLE</h5>
        <p>Mon to Fri 9am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>MUSWELLBROOK</h5>
        <p>Mon to Fri 10am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>WENTWORTH POINT</h5>
        <p>Mon to Fri 9am - 5pm</p>
    </div>
</div>