<hr>
<div class="row text-center">
	<!-- Step 1: Order placed & paid for -->
	<div class="col-md-2">
		<i class="icon icon-shopping-cart icon-5x smgrey"></i>
		<h6>1: You place your order with us</h6>
	</div>
	<div class="col-md-1">
		<i class="icon icon-caret-right icon-2x smgrey mt40p"></i>
	</div>

	<!-- Step 2: Manufacturing Process -->
	<div class="col-md-2">
		<i class="icon icon-package icon-5x smgrey"></i>
		<h6>2: Your order is manufactured &amp; packaged</h6>
	</div>
	<div class="col-md-1">
		<i class="icon icon-caret-right icon-2x smgrey mt40p"></i>
	</div>

	<!-- Step 3: Courier Delivery -->
	<div class="col-md-2">
		<i class="icon icon-truck icon-flip-horizontal icon-5x smgrey"></i>
		<h6>3: Your order is picked up by the courier</h6>
	</div>
	<div class="col-md-1">
		<i class="icon icon-caret-right icon-2x smgrey mt40p"></i>
	</div>

	<!-- Step 4: Order received -->
	<div class="col-md-2">
		<img class="{{ courier-img-class }}" src="{{ 'courier-icon.png' | asset_img_url: '80x' }}" title="{{ courier-img-title }}" alt="{{ courier-img-alt }}">
		<h6>4: Your order is delivered to your nearest depot</h6>
	</div>
</div>
<hr>
