<div class="row">
    <div class="col-md-4">
        <h5>BAIRNSDALE</h5>
        <p>Mon to Fri 9am - 3.30pm</p>
    </div>
    <div class="col-md-4">
        <h5>HAMILTON</h5>
        <p>Mon to Fri 7am - 9am</p>
    </div>
    <div class="col-md-4">
        <h5>MORWELL</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>BALLARAT</h5>
        <p>Mon to Fri 9am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>HORSHAM</h5>
        <p>Mon to Fri 8am to 5pm, Sat 8am - 10am</p>
    </div>
    <div class="col-md-4">
        <h5>PORTLAND</h5>
        <p>Mon to Fri 7am - 9am</p>
    </div>
    <div class="col-md-4">
        <h5>BENALLA</h5>
        <p>Mon to Fri 9am till 3pm</p>
    </div>
    <div class="col-md-4">
        <h5>LARA</h5>
        <p>Mon to Fri 9am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>SEYMOUR</h5>
        <p>Mon to Fri 11.30am - 5.30pm</p>
    </div>
    <div class="col-md-4">
        <h5>COBRAM</h5>
        <p>Mon to Fri 9am - 4.30pm</p>
    </div>
    <div class="col-md-4">
        <h5>LEONGATHA</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>SWAN HILL</h5>
        <p>Mon to Fri 7am - 1pm, Sat 7am - 10am</p>
    </div>
    <div class="col-md-4">
        <h5>EAST BENDIGO</h5>
        <p>Mon to Fri 8.30am till 5.30pm</p>
    </div>
    <div class="col-md-4">
        <h5>MILDURA</h5>
        <p>Mon to Fri 9am - 2.30pm</p>
    </div>
    <div class="col-md-4">
        <h5>WARRNAMBOOL</h5>
        <p>Mon to Fri 9am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>ECHUCA</h5>
        <p>Mon to Fri 6am till 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>MOOROOPNA</h5>
        <p>Mon to Fri 9am - 5pm</p>
    </div>
</div>