<div class="row">
    <div class="col-md-4">
        <h5>BROOME</h5>
        <p>Mon to Fri 7am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>HARVEY</h5>
        <p>Mon to Fri 9am - 5pm, Sat 9am - 11am</p>
    </div>
    <div class="col-md-4">
        <h5>NEWMAN</h5>
        <p>Mon to Fri 8am - 4.30pm</p>
    </div>
    <div class="col-md-4">
        <h5>BUSSELTON</h5>
        <p>Mon to Fri 8am - 3pm</p>
    </div>
    <div class="col-md-4">
        <h5>KARRATHA INDUSTRIAL ESTATE</h5>
        <p>Mon to Fri 8am - 4pm, Sat 8am - 12pm</p>
    </div>
    <div class="col-md-4">
        <h5>WEST KALGOORLIE</h5>
        <p>Mon to Fri 9am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>GERALDTON</h5>
        <p>Mon to Fri 8am - 4pm</p>
    </div>
</div>