<div class="row">
    <div class="col-md-4">
        <h5>KEWDALE</h5>
        <p>Mon to Fri 8am - 4pm</p>
    </div>
    <div class="col-md-4">
        <h5>ROCKINGHAM</h5>
        <p>Mon to Fri 9am - 4pm</p>
    </div>
</div>