{% comment %}
<div class="alert alert-success">
	<p><b>2016 Christmas cut-off date:</b> <span class="label label-success">Monday 05<sup>th</sup> December 2016</span></p>
	<p>Orders placed after Monday 05<sup>th</sup> December will not be delivered until January 2017.</p>
	<hr>
	<p><span class="icon icon-tree"></span> <strong>We would like to wish you a safe and Merry Christmas!</strong> <span class="icon icon-gift"></span></p>
</div>

<hr>


<div class="alert alert-success">
	<p><b>We are now taking orders for January / February 2014.</b></p>
	<hr>

	Change the below to an image of a christmas tree, or check for new icons.

	<p><span class="icon icon-tree"></span> <strong>We would like to wish you a safe and Merry Christmas.</strong></p>
</div>

<div class="alert alert-info" role="alert">
	<p><strong><span class="icon icon-info-circle"></span> Important Notice:</strong> Due to employee annual leave, any orders placed between Wednesday, 16<sup>th</sup> September 2015 and Wednesday, 30<sup>th</sup> September 2015 will not be processed and delivered before Wednesday, 07<sup>th</sup> October 2015.</p>
</div>
{% endcomment %}