<div class="row">
    <div class="col-md-4">
        <h5>ALICE SPRINGS</h5>
        <p>Mon to Fri 8am - 5pm</p>
    </div>
    <div class="col-md-4">
        <h5>DARWIN</h5>
        <p>Mon to Fri 7.30am - 6pm</p>
    </div>
    <div class="col-md-4">
        <h5>KATHERINE</h5>
        <p>Mon to Fri 6am - 5pm, Sat 6am - 12pm</p>
    </div>
</div>