<p>Manufacture timeframe: <span class="label label-info">12-14 days</span></p>
<p>The <i>manufacture time</i> refers to the time it takes us to manufacture your order and package it ready for the courier to pick up.</p>
<p>All products are custom made to order &amp; as such we do not have any standard size items in stock.</p>