<header>
    <div class="page-header">
        <h1>Order Online <small>Sliding Wardrobe Doors</small></h1>
        <p class="lead">Choose the <em>height</em> category which best matches your sliding wardrobe door opening:</p>
    </div>
</header>

<p><span class="label label-info">Heads up!</span> If your wardrobe door opening is 2250mm high, you should choose the <em>2100mm to 2400mm high</em> category. <a class="pull-right" href="/pages/measuring-guide" title="Sliding Wardrobe Doors - Measure Guide"><span class="icon icon-ruler"></span>&nbsp;How to Measure Guide</a></p>

<hr>

{% include 'collection-doors-heights' %}