{% comment %}Google + Badge{% endcomment %}
<h4><small>Spacemaker is on Google+</small></h4>
<div class="g-page" data-width="250" data-href="//plus.google.com/u/0/104305469433293369036" data-rel="publisher"></div>

<h4><small>View our reviews on:</small></h4>
<ul class="list-unstyled list-inline">
	<li>
		<a href="//www.google.com.au/maps/place/Spacemaker+Wardrobes" title="Google Plus">
			<span class="icon icon-google-plus"></span>
		</a>
	</li>
	<li>
		<a href="//www.facebook.com/Spacemaker.Wardrobes" title="Facebook">
			<span class="icon icon-facebook-official"></span>
		</a>
	</li>
	<li>
		<a href="//www.truelocal.com.au/business/spacemaker-wardrobes/carrara" title="True Local">
			<span class="icon icon-comment"></span>
		</a>
	</li>
</ul>

<hr>

<p class="pull-left">
	<span class="icon-stack icon-2x">
	    <i class="icon icon-certificate icon-stack-2x"></i>
	    <i class="icon icon-stack-1x text-warning">15</i>
	</span>
</p>
<h4><span class="text-muted">15 year warranty</span></h4>
<p><a href="/pages/terms">Read more &raquo;</a></p>
<div class="clearfix"></div>

<hr>

<h4><small>Safe &amp; easy online payments</small></h4>
{% assign icon-link-class = '' %}
{% assign icon-img-class = 'img-responsive' %}
{% include 'global-icons-paypal' %}
{% assign icon-shopify-colour = 'light' %}
{% include 'global-icons-shopify' %}

<hr>

<h4><small>100% Australian Owned &amp; Operated</small></h4>
<p>
	{% assign aust-img-class = 'img-responsive center-block' %}
	{% assign aust-img-title = 'Spacemaker Wardrobes is 100% Australian owned and operated' %}
	{% include 'global-australia-img' %}
</p>

<hr>

<div class="fb-like" data-href="https://www.facebook.com/Spacemaker.Wardrobes/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>