{% capture clean_icon %}<a href="#" data-toggle="tooltip" data-placement="top" title="Easy to clean"><span class="icon icon-broom icon-lg icon-dark"></span></a>{% endcapture %}
{% capture paint_icon %}<a href="#" data-toggle="tooltip" data-placement="top" title="Supplied raw &amp; able to be painted any colour"><span class="icon icon-paint-brush icon-lg icon-dark"></span></a>{% endcapture %}
{% capture colours_icon %}<a href="#" data-toggle="tooltip" data-placement="top" title="Available in a range of colours"><span class="icon icon-paint-bucket icon-lg icon-dark"></span></a>{% endcapture %}
{% capture styles_icon %}<a href="#" data-toggle="tooltip" data-placement="top" title="Available in a range of styles"><span class="icon icon-style icon-lg icon-dark"></span></a>{% endcapture %}
{% capture framed_icon %}<a href="#" data-toggle="tooltip" data-placement="top" title="Framed"><span class="icon icon-framed-doors icon-lg icon-dark"></span></a>{% endcapture %}
{% capture frameless_icon %}<a href="#" data-toggle="tooltip" data-placement="top" title="Frameless"><span class="icon icon-frameless-doors icon-lg icon-dark"></span></a>{% endcapture %}