<div class="pull-right hidden-xs">
	<div class="fb-like" data-href="https://www.facebook.com/Spacemaker.Wardrobes/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
	<div class="clearfix"></div>
</div>