<a class="{{ icon-link-class }}" href="https://www.shopify.com/?ref=empower-digital" title="Spacemaker Wardrobes is secured by Shopify" target="_blank"><img class="{{ icon-img-class }}" src="//cdn.shopify.com/s/images/badges/shopify-secure-badge-{{ icon-shopify-colour }}-shadow.png" alt="Shopify secure badge" /></a>
