<div class="container">
	<header>
	    <div class="page-header">
	    	{% include 'global-icons-share' %}
	    	<h1>Terms &amp; Conditions</h1>
	        <p class="lead">We have tried to keep our terms and conditions as simple and easy to read as possible. Please take the time to read over these policies and if you have any questions, don't hesitate to contact us.</p>
	    </div>
	</header>

	<h2>Delivery</h2>
	<p>Detailed, up-to-date delivery terms are always available from our <a href="/pages/delivery" title="delivery informaiton">delivery information</a> page. It is very important to read over the delivery information page prior to purchasing any products. Some important delivery terms are as follows:</p>

	<h4>Pick up from our workshop on the Gold Coast</h4>
	If you choose to pick up your order from our workshop on the Gold Coast, the products are supplied <strong>unpackaged</strong> and available for pickup from 17 Jade Drive, Molendinar QLD 4214.

	<h4>Delivery to your address</h4>
	<p>For orders in South East QLD, the products are supplied <strong>unpackaged</strong> and delivered to your address. For all other areas, the products are supplied <strong>packaged</strong> and delivered to your address (Australia wide). A truck with a hydraulic tailgate will deliver your order.</p>

	<h4>Conditions</h4>
	<ul>
		<li>Someone must be present to accept delivery of your order and sign proof of delivery (POD). Goods will not be left at an unattended address, and a re-delivery charge may be applicable.</li>
		<li>The driver will only deliver to the front door/access point of the premises;</li>
	</ul>

	<p>If you are unsure about anything, please don't hesitate to <a href="/pages/contact" title="Contact Spacemaker Wardrobes">contact us</a>.</p>

	<hr>

	<h2>Warranty</h2>
	<p>Your Spacemaker Wardrobes products are guaranteed for 15 years against defects arising from faulty workmanship or materials, as long as the products have been installed and used in accordance with our recommendations.</p>

	<hr>

	<h2>Payments &amp; Security</h2>
	<p>We require all payments to be made prior to the manufacture and delivery of your products.</p>
	<p>All credit card payments are processed securely through PayPal. We do not have access to any of your credit card details and we do not store any of your credit card details. For more information on PayPal security, please visit <a href="https://www.paypal-australia.com.au/security" name="PayPal security overview" target="_blank">PayPal security overview</a>.</p>

	<hr>

	<h2>Refunds &amp; Cancellations</h2>
	<p>Spacemaker Wardrobes complies with the <a href="//www.consumerlaw.gov.au/" name="Australian Consumer Law" target="_blank">Australian Consumer Law</a>. Our refund policy is as follows:</p>
	<p>We are not required to provide a refund or replacement if you change your mind. But you can choose a refund or exchange if an item has a major problem. This is when the item:</p>
	<ul>
		<li>has a problem that would have stopped someone from buying the item if they had known about it</li>
		<li>is unsafe</li>
		<li>is significantly different from the sample or description</li>
		<li>doesn’t do what we said it would, or what you asked for, and can’t be easily fixed.</li>
	</ul>
	<p>Alternatively, you can choose to keep the item and we will compensate you for any drop in value. If the problem is not major, we will repair the item within a reasonable time. If it is not repaired in a reasonable time you can choose a refund or replacement. Please keep your proof of purchase (e.g. your receipt).</p>
	<p>For more information, please visit the <a href="//www.consumerlaw.gov.au/" name="Australian Consumer Law website" target="_blank">Australian Consumer Law</a> website</p>

	<hr>

	<h2>Copyright &amp; Trade Marks</h2>
	<p>The entire contents of this web site are the copyright property of Spacemaker Wardrobes Pty Ltd.</p>
	<p>The names &quot;Spacemaker Wardrobes Pty Ltd&quot; and &quot;Spacemaker Wardrobes&quot;, as well as the Spacemaker Wardrobes logo and any trade marks of Spacemaker Wardrobes Pty Ltd may not be used for any purpose.</p>

	<hr>

	<h2>Customer Feedback Promotion</h2>
	<p>This promotion is only available to clients of Spacemaker Wardrobes who have purchased products from us .There is a limit of one gift card per order.</p>
	<p>As part of this promotion, Spacemaker Wardrobes may invite you to submit material, including photographs, reviews, comments, suggestions and feedback data such as questionnaires. The material you submit must be your own original material and must not infringe the intellectual property rights of any third party.</p>
	<p>In addition, you hereby authorise Spacemaker Wardrobes to display such material on our website (www.spacemakerwardrobes.com.au) and on social networks such as Facebook, Google +, Pinterest and Twitter.</p>
	<p>This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook. We hereby release Facebook of any liability.</p>
	<p>If you have any additional questions - please <a href="/pages/contact" title="Contact Spacemaker Wardrobes">contact us</a>.</p>
</div>