<div class="container">
	<!-- Page Heading -->
	<header>
		<div class="page-header">
			<h1>How it works</h1>
		</div>
	</header>

	<!-- Overview -->
	<section>
		<h2>Our story</h2>
		<p>Spacemaker Wardrobes Pty Ltd is an established business based in the Gold Coast suburb of Nerang. Spacemaker Wardrobes is an industry leader in the creation of stylish <strong>wardrobe storage solutions</strong> and <strong>sliding wardrobe doors</strong> which will improve and add value to your home.</p>
		<p>Established in 1992, Spacemaker Wardrobes Pty Ltd is a family owned and operated company.</p>
	</section>

	<hr>
</div>