<div class="container">
    <header>
        <div class="page-header">
            {% include 'global-icons-share' %}
        	<h1>Privacy Policy</h1>
            <p class="lead">Spacemaker Wardrobes is committed to providing you with superior customer service, including the highest protection of your privacy.</p>
        </div>
    </header>

    <p>Spacemaker Wardrobes is bound by the Privacy Act 1988 (Cth) ("Privacy Act"), which sets out a number of principles concerning the protection of your personal information.<br>
    The following Privacy Policy Document outlines the types of personal information that is received and collected by this website and how it is used.</p>

    <hr>

    <h2>Collecting your personal information</h2>
    <p>We collect your personal information mainly to supply you with the products and services you order from us. We may also collect your personal information for the purposes of:</p>
    <ul>
        <li>verifying your identity;</li>
        <li>administering and managing products and services (for example, charging and billing);</li>
        <li>responding to any queries or feedback you may have;</li>
        <li>preventing and detecting any misuse of, or fraudulent activities involving our website; and</li>
        <li>researching and developing our products and services.</li>
    </ul>

    <hr>

    <h2>Securing your personal information</h2>
    <p>Spacemaker Wardrobes uses up-to-date security techniques and processes to protect your personal information from misuse, loss, unauthorised access, modification or disclosure. All security measures employed by Spacemaker Wardrobes meet current industry standards.</p>
    <p>Whilst purchasing over the Internet may seem intimidating at first, you can trust who we say we are. Spacemaker Wardrobes uses Secure Sockets Layer ("SSL") technology to protect your personal information. SSL provides an encrypted link between you and Spacemaker Wardrobes, ensuring that all information you supply to us when using our website is completely private and that its integrity is maintained. To view our SSL Certificate, click the green bar in your address bar when using our website. You may notice we have the same green bar that your online banking service would use.</p>

    <hr>

    <h2>Disclosing your personal information</h2>
    <p>We may disclose personal information about you (for the purposes set out above) to the following ("Contacts"):</p>
    <ul>
        <li>our distribution partners, contractors, joint venture partners, etc;</li>
        <li>our suppliers who need to access this information to provide us with specific services that enable us to supply you with the products and services you have ordered;</li>
        <li>payment systems operators (for example, merchants receiving credit card payments and rewards program managers);</li>
        <li>our professional advisers, including our accountants, auditors and lawyers; and</li>
        <li>government and regulatory authorities and other organisations, as required or authorised by law.</li>
    </ul>
    <hr>

    <h2>Your rights regarding your personal information</h2>
    <p>You have the right to access and make changes to your personal information at any time. To request access to your personal information, call 1300 663 625 or email us using the contact form on our <a href="/pages/contact" title="Contact Spacemaker Wardrobes">contact</a> page.</p>
    <p>We may use your personal information to offer you products and services that we believe may interest you, but we will not do so if you tell us not to. If you only want to receive communications from us that are account-related or legally required, you can "opt out" of all other types of communications. To opt out, contact a Spacemaker Wardrobes customer service representative on 1300 663 625 and we will see to your request as soon as practicably possible.</p>

    <hr>

    <h2>What if you do not wish to provide us with your personal information?</h2>
    <p>If you do not provide all the personal information we request, we may be unable to supply the products or services you have requested, or, we may be restricted in the way we supply these products or services to you.</p>

    <hr>

    <h2>How to contact us</h2>
    <p>Find all of our contact information on our <a href="/pages/contact" title="Contact Spacemaker Wardrobes">contact</a> page.</p>
</div>