<div class="container">
	<header>
		<div class="page-header">
			<h1>DIY Wardrobes &amp; Shelving</h1>
			<p class="lead">Imagine a space which is organised just the way you like it. Our wardrobes are durable and attractive, offering immediate satisfaction and raising the value of your home.</p>
		</div>
	</header>

	<!-- features and benefits -->
	<section>
		<h2>Features &amp; Benefits</h2>
		<ul class="thumbnails">
			<!-- maximise your space -->
			<li class="span4">
				<div class="thumbnail">
					<img src="//cdn.spacemakerwardrobes.com.au/images/products/wardrobes/overview/diy-built-in-wardrobe-01.jpg" alt="Maximise your space" title="Maximise your space">
					<div class="caption">
						<h4>Maximise your space</h4>
						<p>Our wardrobe system can be adapted to any space. Built in wardrobes and walk in wardrobes can be created or optimised with ease and both large and small areas are used to their full potential to meet your storage needs.</p>
					</div>
				</div>
			</li>
			<!-- You're in control -->
			<li class="span4">
				<div class="thumbnail">
					<img src="//cdn.spacemakerwardrobes.com.au/images/products/wardrobes/overview/wardrobe-drawers-02.jpg" alt="You're in control" title="You're in control">
					<div class="caption">
						<h4>Everything is custom made</h4>
						<p>Our wardrobes are not mass produced - every wardrobe is custom made to your unique requirements. This puts you in control and ensures that the finished product is exactly what you need.</p>
					</div>
				</div>
			</li>
			<!-- easy installation -->
			<li class="span4">
				<div class="thumbnail">
					<img src="//cdn.spacemakerwardrobes.com.au/images/products/wardrobes/overview/diy-wardrobe-installation.jpg" alt="Easy installation" title="Easy installation">
					<div class="caption">
						<h4>Easy installation</h4>
						<p>Our unique wall suspension system ensures that your wardrobes can be installed with a minimum of fuss and disruption. All shelving and components are cut to size so all you need to do is put them together.</p>
					</div>
				</div>
			</li>
		</ul>
	</section>

	<hr>

	<section>
		<h2>Find prices, designs &amp; order online</h2>
		<p>Choose the wardrobe category which best matches your wardrobe opening:</p>

		<ul class="thumbnails text-center">
			<!-- standard opening -->	
			<li class="span6">
				<div class="thumbnail">
					<a href="/collections/standard-wardrobe-opening" alt="Standard Opening">
						<img src="//cdn.spacemakerwardrobes.com.au/images/products/wardrobes/categories/standard-opening-v3.png" title="Standard Opening">
					</a>
					<div class="caption">
						<h4>Standard Opening</h4>
						<p>You have an existing wardrobe opening which requires shelving only.</p>
						<p>
							<a class="btn btn-small btn-primary" href="/collections/standard-wardrobe-opening" alt="Standard Opening">
								Select this opening
							</a>
						</p>
					</div>
				</div>
			</li>
			<!-- straight wall -->	
			<li class="span6">
				<div class="thumbnail">
					<a href="/collections/straight-wall-wardrobe-opening" alt="Straight Wall">
						<img src="//cdn.spacemakerwardrobes.com.au/images/products/wardrobes/categories/straight-wall-v3.png" title="Straight Wall">
					</a>
					<div class="caption">
						<h4>Straight Wall</h4>
						<p>You have a straight wall which requires shelving and panels either side to enclose the wardrobe.</p>
						<p>
							<a class="btn btn-small btn-primary" href="/collections/straight-wall-wardrobe-opening" alt="Standard Opening">
								Select this opening
							</a>
						</p>
					</div>
				</div>
			</li>
			<li class="clearfix"></li>
			<!-- wall to left -->
			<li class="span6">
				<div class="thumbnail">
					<a href="/collections/left-corner-wardrobe-opening" alt="Corner Opening - Left">
						<img src="//cdn.spacemakerwardrobes.com.au/images/products/wardrobes/categories/wall-to-left-v3.png" title="Corner Opening - Left">
					</a>
					<div class="caption">
						<h4>Corner Opening (Left)</h4>
						<p>You have a corner to the left which requires shelving and a panel on the right hand side to enclose the wardrobe.</p>
						<p>
							<a class="btn btn-small btn-primary" href="/collections/left-corner-wardrobe-opening" alt="Corner Opening - Left">
								Select this opening
							</a>
						</p>
					</div>
				</div>
			</li>
			<!-- wall to right -->	
			<li class="span6">
				<div class="thumbnail">
					<a href="/collections/right-corner-wardrobe-opening"  alt="Corner Opening - Right">
						<img src="//cdn.spacemakerwardrobes.com.au/images/products/wardrobes/categories/wall-to-right-v3.png" title="Corner Opening - Right">
					</a>
					<div class="caption">
						<h4>Corner Opening (Right)</h4>
						<p>You have a corner to the right which requires shelving and a panel on the left hand side to enclose the wardrobe.</p>
						<p>
							<a class="btn btn-small btn-primary" href="/collections/right-corner-wardrobe-opening" alt="Corner Opening - Right">
								Select this opening
							</a>
						</p>
					</div>
				</div>
			</li>
		</ul>

		<h5>Don't see one you like?</h5>
		<p>Want to customise? Mix and match? Not a problem! Visit our <a href="/pages/custom-wardrobe-designs">Custom Wardrobe Designs</a> page and design your own unique design.</p>
	</section>

</div><!-- /container -->