<div class="container">
	<div class="row mb12 text-center">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="//cdn.shopify.com/s/files/1/0232/0475/files/itunes.png?9761">
				<div class="caption">
					<h4>iTunes</h4>
					<p>Songs, movies, TV shows, apps, games, books: Entertain yourself with iTunes.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="//cdn.shopify.com/s/files/1/0232/0475/files/wish.png?9761">
				<div class="caption">
					<h4>Wish</h4>
					<p>Redeem at Woolworths, Big W, Dick Smith, Tandy, BWS, Dan Murphy's, Caltex and more.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="//cdn.shopify.com/s/files/1/0232/0475/files/bunnings.png?9761">
				<div class="caption">
					<h4>Bunnings</h4>
					<p>Bunnings gift cards can be used at any Bunnings store in Australia.</p>
				</div>
			</div>
		</div>
	</div>

	<header>
	    <div class="page-header text-center">
	        <h1>Want a $20 gift card?</h1>
	        <p class="lead">All you need to do is complete the 4 steps below. Each step must be completed so that you can claim your gift card.</p>
	        <p>Make sure you read the instructions and terms &amp; conditions below before starting!</p>
	    </div>
	</header>

	<a id="rc-65547d7" class="rafl" href="//www.rafflecopter.com/rafl/display/65547d7/" rel="nofollow">a Rafflecopter giveaway</a>
	<script src="//d12vno17mo87cx.cloudfront.net/embed/rafl/cptr.js"></script>

	<hr>

	<h3>Don't have a Facebook account?</h3>
	<p>No worries. Just send us an email via the <a href="/pages/contact" title="Contact Spacemaker Wardrobes">contact form</a> with your review. We'll post it on our website on your behalf.</p>

	<hr>

	<h3>Sending Photos</h3>
	<ul>
		<li>Please make your images at least 1200 x 800 pixels. Higher resolution images are preferred.</li>
		<li>Email your JPEGs to info@spacemakerwardrobes.com.au (best to keep each email under 5mb); or</li>
		<li>Alternatively, you can send your JPEGs to info@spacemakerwardrobes.com.au via <a href="//kicksend.com/" target="_blank">Kicksend</a>. Kicksend is a free service which makes it very easy to send large photos.</li>
	</ul>

	<hr>

	<h3>Terms &amp; Conditions</h3>
	<p>This promotion is only available to clients of Spacemaker Wardrobes who have purchased products from us .There is a limit of one gift card per order.</p>
	<p>As part of this promotion, Spacemaker Wardrobes may invite you to submit material, including photographs, reviews, comments, suggestions and feedback data such as questionnaires. The material you submit must be your own original material and must not infringe the intellectual property rights of any third party.</p>

	<p>In addition, you hereby authorise Spacemaker Wardrobes to display such material on our website (www.spacemakerwardrobes.com.au) and on social networks such as Facebook, Google +, Pinterest and Twitter.</p>

	<p>This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook. We hereby release Facebook of any liability.</p>

	<p>If you have any additional questions - please <a href="/pages/contact" title="Contact Spacemaker Wardrobes">contact us</a>.</p>
</div>