<div class="container">
	<header>
		<div class="page-header">
			{% include 'global-icons-share' %}
			<h1>Contact us <small>we're here to help</small></h1>
		</div>
	</header>

	<div class="row" itemscope itemtype="//schema.org/LocalBusiness">
		<div class="col-md-4">
			<address>
				<strong><span itemprop="name">Spacemaker Wardrobes</span></strong> <br>
				<abbr title="Australian Business Number">ABN:</abbr> <span itemprop="">28 011 023 073</span> <br>
				<span itemprop="addressLocality">Carrara, QLD 4211</span> (<span itemprop="addressCountry">Australia</span>) <br>
			</address>
		</div>
		<div class="col-md-4">
			<address>
				<abbr title="Australia wide">P:</abbr> <span itemprop="telephone">1300 663 625</span> <br>
				<abbr title="Mobile">M:</abbr> 0414 414 344 <br>
			</address>
		</div>
		<div class="col-md-4">
			<h4>Connect with us!</h4>
			{% assign icon-list-class = 'list-unstyled list-inline' %}
			{% assign icon-link-class = '' %}
			{% assign icon-span-class = 'icon-dark icon-big' %}
			{% include 'global-icons-social' %}
		</div>
	</div>

	<hr>

	<h3>Email Enquiry</h3>
	<p>Use our email enquiry form to send us an email. We will respond as soon as possible.</p>

	<script type="text/javascript" src="https://form.jotform.co/jsform/31777091636865"></script>

	<hr>

	{% include 'global-delivery-quote-msg' %}
</div>