<div class="row thumbnails">
  <div class="col-md-2 mb12">
    <a class="thumbnail" href="//cdn.shopify.com/s/files/1/0232/0475/files/01-framed-gyprock-sliding-wardrobe-doors_27033c80-d5b2-413a-a580-321a1a165784.jpg?9725" title="Framed Gyprock Sliding Wardrobe Doors - White Frames, Gyprock Insert" data-lightbox="gyprockgallery-set">
      <img src="//cdn.shopify.com/s/files/1/0232/0475/files/01-framed-gyprock-sliding-wardrobe-doors-thumb_29c53896-5978-428d-ad28-f9bd25670a81.jpg?9726" alt="Framed Gyprock Sliding Wardrobe Doors - White Frames, Gyprock Insert">
    </a>
  </div>
</div>