<h4><span class="icon icon-paint-bucket"></span>&nbsp;Glass Colours <small>click to enlarge</small></h4>
<div class="row thumbnails">
  <div class="col-md-2">
    <a class="thumbnail" href="{{ '01-green.png' | asset_img_url: 'grande' }}" title="Standard White" data-fancybox="glasscolours-set" data-caption="Standard White">
      <img src="{{ '01-green.png' | asset_img_url: 'medium' }}" alt="Standard White" >
    </a>
  </div>

  <div class="col-md-2">
    <a class="thumbnail" href="{{ '03-clear.png' | asset_img_url: 'grande' }}" title="Pure White" data-fancybox="glasscolours-set" data-caption="Pure White">
      <img src="{{ '03-clear.png' | asset_img_url: 'medium' }}" alt="Pure White" >
    </a>
  </div>
</div>

<dl>
  <dt>Standard White</dt>
  <dd>Supplied in 4mm float glass.</dd>
  
  <dt>Pure White</dt>
  <dd>Our Pure White doors are made with 4mm low iron glass. Low iron glass is clearer and results in a pure white finish.</dd>
  
  <dt>Custom Colours</dt>
  <dd>We can supply painted glass doors in any colour you specify (we require specific colour details). Custom colour doors are supplied in 6mm low iron glass.</dd>
</dl>