<h4><span class="icon icon-paint-bucket"></span>&nbsp;Insert Colours</h4>
<p>The door inserts are supplied completely <b>raw {% if product.tags contains 'gyprock' %}gyprock{% endif %}{% if product.tags contains 'colonial' %}mdf{% endif %}</b>. You are then able to paint the doors your desired colour. Spacemaker do not provide painting services for doors.</p>