<div class="row thumbnails">
  <div class="col-md-2 mb12">
    <a class="thumbnail" href="//cdn.shopify.com/s/files/1/0232/0475/files/01-framed-mirror-sliding-wardrobe-doors_ac7bc2d9-edb1-48cd-9cbd-ace494d55676.jpg?9732" title="Framed Mirror Sliding Wardrobe Doors - White Frames, Mirror Insert" data-lightbox="framedmirrorgallery-set">
      <img src="//cdn.shopify.com/s/files/1/0232/0475/files/01-framed-mirror-sliding-wardrobe-doors-thumb_3f603e06-102b-4acb-9a55-08449ac19b0a.jpg?9738" alt="Framed Mirror Sliding Wardrobe Doors - White Frames, Mirror Insert">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="//cdn.shopify.com/s/files/1/0232/0475/files/02-framed-mirror-sliding-wardrobe-doors_1662cfbb-7e2e-4cfc-bf8d-2c1d79d07fd5.jpg?9732" title="Framed Mirror Sliding Wardrobe Doors - White Frames, Mirror Insert" data-lightbox="framedmirrorgallery-set">
      <img src="//cdn.shopify.com/s/files/1/0232/0475/files/02-framed-mirror-sliding-wardrobe-doors-thumb_b34562e7-47d4-4ee0-a82c-f5c9db43ffbc.jpg?9738" alt="Framed Mirror Sliding Wardrobe Doors - White Frames, Mirror Insert">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="//cdn.shopify.com/s/files/1/0232/0475/files/03-framed-mirror-sliding-wardrobe-doors_cb4c6755-b54f-425b-97e0-5013173bf9c5.jpg?9732" title="Framed Mirror Sliding Wardrobe Doors - White Frames, Mirror Insert" data-lightbox="framedmirrorgallery-set">
      <img src="//cdn.shopify.com/s/files/1/0232/0475/files/03-framed-mirror-sliding-wardrobe-doors-thumb_fa16080c-4edc-4116-a60e-d6ac4616a9f3.jpg?9738" alt="Framed Mirror Sliding Wardrobe Doors - White Frames, Mirror Insert">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="//cdn.shopify.com/s/files/1/0232/0475/files/04-framed-mirror-sliding-wardrobe-doors_c71ca1f8-4dbf-49f6-8e04-3ced4425a76a.jpg?9732" title="Framed Mirror Sliding Wardrobe Doors - Chrome Frames, Mirror Insert" data-lightbox="framedmirrorgallery-set">
      <img src="//cdn.shopify.com/s/files/1/0232/0475/files/04-framed-mirror-sliding-wardrobe-doors-thumb_7f81760f-7fcb-4532-8cbb-1ef7eacafc8d.jpg?9738" alt="Framed Mirror Sliding Wardrobe Doors - Chrome Frames, Mirror Insert">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="//cdn.shopify.com/s/files/1/0232/0475/files/05-framed-mirror-vinyl-sliding-wardrobe-doors_a00f7c8f-d598-4f2c-bfc7-0c80405c64a7.jpg?9732" title="Framed Mirror and Vinyl Sliding Wardrobe Doors - White Frames, Glacier Insert" data-lightbox="framedmirrorgallery-set">
      <img src="//cdn.shopify.com/s/files/1/0232/0475/files/05-framed-mirror-sliding-wardrobe-doors-thumb_0387ce29-b74e-41b3-a398-1c98b9c376df.jpg?9738" alt="Framed Mirror and Vinyl Sliding Wardrobe Doors - White Frames, Glacier Insert">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="//cdn.shopify.com/s/files/1/0232/0475/files/06-framed-mirror-vinyl-sliding-wardrobe-doors_11b22f97-7e11-436a-86e4-5b24d8074df6.jpg?9748" title="Framed Mirror and Vinyl Sliding Wardrobe Doors - White Frames, Glacier Insert" data-lightbox="framedmirrorgallery-set">
      <img src="//cdn.shopify.com/s/files/1/0232/0475/files/06-framed-mirror-sliding-wardrobe-doors-thumb_dc0f0ef4-b57d-43ea-8e03-2adde35d306e.jpg?9738" alt="Framed Mirror and Vinyl Sliding Wardrobe Doors - White Frames, Glacier Insert">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="//cdn.shopify.com/s/files/1/0232/0475/files/07-framed-mirror-sliding-wardrobe-doors.jpg?10079" title="Framed Mirror Sliding Wardrobe Doors - Matt Natural Frames, Mirror Insert" data-lightbox="framedmirrorgallery-set">
      <img src="//cdn.shopify.com/s/files/1/0232/0475/files/07-framed-mirror-sliding-wardrobe-doors-thumb.jpg?10079" alt="Framed Mirror Sliding Wardrobe Doors - Matt Natural Frames, Mirror Insert">
    </a>
  </div>
</div>