<div class="row thumbnails">
  <div class="col-md-2 mb12">
    <a class="thumbnail" href="//cdn.shopify.com/s/files/1/0232/0475/files/01-frameless-mirror-sliding-wardrobe-doors.jpg?9780" title="Frameless Mirror and Painted Glass Sliding Wardrobe Doors - Mirror on left, Green on right" data-lightbox="framelessmirrorgallery-set">
      <img src="//cdn.shopify.com/s/files/1/0232/0475/files/01-frameless-mirror-sliding-wardrobe-doors-thumb.jpg?9780" alt="Frameless Mirror and Painted Glass Sliding Wardrobe Doors - Mirror on left, Green on right">
    </a>
  </div>
</div>