<div class="pull-left h100 sandringham-l"></div>
<div class="pull-left h100 sandringham-r colonial-border-l"></div>
<div class="pull-left h100 sandringham-r colonial-border-l"></div>
<div class="pull-left h100 sandringham-r colonial-border-l"></div>
<div class="pull-left h100 sandringham-r colonial-border-l"></div>
<div class="clearfix"></div>