<div class="w100 hastings-top">
	{% include 'app-insert-colonial' %}
</div>
<div class="w100 hastings-mid">
	{% include 'app-insert-colonial' %}
</div>
<div class="w100 hastings-bot">
	{% include 'app-insert-colonial' %}
</div>