<div class="w100 cromwell-block">
	{% include 'app-insert-colonial' %}
</div>
<div class="w100 cromwell-block">
	{% include 'app-insert-colonial' %}
</div>
<div class="w100 cromwell-block">
	{% include 'app-insert-colonial' %}
</div>
<div class="w100 cromwell-block">
	{% include 'app-insert-colonial' %}
</div>