<div class="w100 rochester-top">
	<div class="pull-left h100 w50 rochester-sq-l">
		{% include 'app-insert-colonial' %}
	</div>
	<div class="pull-left h100 w50 rochester-sq-r">
		{% include 'app-insert-colonial' %}
	</div>
	<div class="clearfix"></div>
</div>
<div class="w100 rochester-bot">
	<div class="pull-left h100 w50 rochester-sq-l">
		{% include 'app-insert-colonial' %}
	</div>
	<div class="pull-left h100 w50 rochester-sq-r">
		{% include 'app-insert-colonial' %}
	</div>
	<div class="clearfix"></div>
</div>