<div class="col-md-12" id="sittingOnCheckbox">
	<div class="form-group">
		<div class="checkbox">
			<label>
				<input type="checkbox" id="" value="">Add floor batten to order (more info) - $20.00
			</label>
		</div>
	</div>
</div>