<div class="col-md-12" id="sittingOnInput">
	<div class="form-group">
		<label for="sittingonother">What are your doors sitting on?</label>
		<input type="text" class="form-control required" id="sittingonother" name="properties[What are doors sitting on]" required>
	</div>
</div>