<div class="row">
  <div class="col-md-12">
    <!-- frame style -->
    <div class="form-group">
      <label for="frameStyle">Frame Style <i class="icon icon-info-circle"></i></label>
      <select class="form-control" id="frameStyle" name="properties[Frame Style]">
        <option value="softline">Visible Frames</option>
        <option value="slimline">Slim Frames</option>
        <option value="mirrorline">Frameless</option>
      </select>
    </div>
  </div>
  
  <!-- frame colour -->
  <div class="col-md-12">
    <div id="frameColour" class="form-group">
      <label for="framecolour">Frame Colour</label>
      <div class="row">
        <div class="col-xs-6">
          <a href="#" id="white" class="thumbnail mb0" title="White">
            <div class="frame-colour-sample vertical white"></div>
          </a>
          <p class="text-center text-muted"><small>White</small></p>
        </div>
        <div class="col-xs-6">
          <a href="#" id="matt" class="thumbnail mb0" title="Matt Natural">
            <div class="frame-colour-sample vertical matt"></div>
          </a>
          <p class="text-center text-muted"><small>Matt Natural</small></p>
        </div>
        <div class="col-xs-6">
          <a href="#" id="chrome" class="thumbnail mb0 active" title="Chrome">
            <div class="frame-colour-sample vertical chrome"></div>
          </a>
          <p class="text-center text-muted"><small>Chrome</small></p>
        </div>
        <div class="col-xs-6">
          <a href="#" id="cream" class="thumbnail mb0" title="Cream">
            <div class="frame-colour-sample vertical cream"></div>
          </a>
          <p class="text-center text-muted"><small>Cream</small></p>
        </div>
        <div class="col-xs-6">
          <a href="#" id="almond" class="thumbnail mb0" title="Almond">
            <div class="frame-colour-sample vertical almond"></div>
          </a>
          <p class="text-center text-muted"><small>Almond</small></p>
        </div>
        <div class="col-xs-6">
          <a href="#" id="black" class="thumbnail mb0" title="Black">
            <div class="frame-colour-sample vertical black"></div>
          </a>
          <p class="text-center text-muted"><small>Black</small></p>
        </div>
      </div>
    </div>
  </div>
</div>