<div class="row mb-3">
  <div class="col-md-12">
    <p class="text-justify">To get started, please enter a name for this set.</p>
  </div>
</div>

<div class="row mb-3">
  <div class="input-group">
    <span id="setNameLabel" class="input-group-text">Set Name</span>
    <input id="setName" name="properties[setName]" type="text" class="form-control required" placeholder="E.g. Bedroom 1" aria-label="Set Name"
       aria-describedby="setNameLabel" required>
  </div>
</div>

<div class="row mb-3">
  <div class="input-group">
    <span id="doorsSittingOnLabel" class="input-group-text">Doors Sitting On</span>
    <input id="doorsSittingOn" name="properties[doorsSittingOn]" type="text" class="form-control required" placeholder="E.g. Carpet" aria-label="Doors Are Sitting On"
      aria-describedby="doorsSittingOnLabel" required>
  </div>
</div>
  
<div class="row mb-3">
  <div class="input-group">
    <label class="input-group-text" for="trackStyle">Track Style</label>

    <select id="trackStyle" class="form-select" name="properties[Frame Style]">
      <option value="double">Double</option>
      <option value="triple">Triple</option>
    </select>
  </div>
</div>

<div class="row mb-3">
  <div class="input-group">
    <label class="input-group-text" for="numberOfDoors">Number of Doors</label>

    <select id="numberOfDoors" class="form-select" name="properties[Number of Doors]">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <button type="button" class="btn btn-primary">Next Step</button>
  </div>
</div>
