<div class="row">
  <div class="col-md-12">
    <!-- insert colours -->
    <div class="form-group">
      <label for="framestyle">Insert Colours</label>
      <p>Click on the insert in each door to change it's colour &amp; style.</p>
    </div>
  </div>
</div>