{% comment %}
	TODO:  Change the following links to modal popups
{% endcomment %}

<ul class="list-inline">
	<li><a href="/pages/measuring-guide"><i class="icon icon-arrows-h"></i> How to measure</a></li>
	<li><a href="/pages/sliding-wardrobe-doors"><i class="icon icon-info-circle"></i> Door specifications</a></li>
	<li><a href="/pages/delivery"><i class="icon icon-truck"></i> Delivery info</a></li>
</ul>